@font-face
{
	font-family: tangerine-bold;
	src: url(../fonts/tangerine-bold.ttf);
}

body 
{ 
	height: 100%;
	color:#fff; 	
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#page
{
    background-image: url(../images/body_background.png);
    repeat: no-repeat;
    background-position: center center;
    height: 100%;
    overflow: visible;
}

img
{
	margin: 0px;
	padding: 0px;
	border: none;
    z-index: 1;
	-moz-border-radius: 4px;
	border-radius: 4px;    
}	

a:focus, a:hover, a:active { outline:none }

.contact-icons-wrapper {
	position: static;
	margin-top: 30px;
	margin-left: 30px;
}

.contact-icons-wrapper img {
	margin: 5px;
}

#content
{
	width:900px;
	text-align:left;
	z-index: 15;
    overflow: visible;
}

.section-content
{
    text-align: left;
    z-index: 15;
    width: 95%;	
}

.section-content h3 {
	text-align: center;
}

.section-content img {
}

.navigation
{
    list-style: none;
}

.section-container
{		
	border: 2px solid #222;
	font-family:Arial, Helvetica, sans-serif;
	width: 99%;
	height: 550px;
	float: left;
	background-color: #050505;
	display: block;
	padding: 0px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 15;
    overflow: hidden;
}

.section-container img { float: left; clear: right; }
.section-container { text-align: left; margin: 5px 5px 5px 5px;  }
.section-container h3 { font-family: tangerine-bold, Times New Roman; font-size: 65px; color: #FFFFFF; text-shadow: 0 0 20px white; margin: 50px; }
.section-container h3:hover { text-shadow: 0 0 20px yellow; }
.section-container p { font-size:15px; padding-top: 18px; font-family: Arial, sans-serif; color:#777777; line-height: 1.2em; width: 94%; }
.section-container a { font-family: Arial, sans-serif; color:#FFFFFF; text-decoration:none;  }
.section-container a:hover { padding-bottom: 0;  }

.image-wrapper
{
    border: 1px solid black;
    z-index: 1;
    width: 810px;
	height: 289px;
    margin: auto;
	background: url(../images/gallery-color.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#footer
{
	font-face: Times new roman;
	font-size: 10px;
	font-color: #cccccc;
}

#menu {
	bottom: 0px;
	position: fixed;
	left: 0px;
	z-index: 2000;
}